# Programs on Loops (III) -  Using Conditionals in Loops

## Exercise 1

**Given two numbers A and B. Print all the EVEN NUMBERS from A to B (Inclusive)**

- It's guaranteed that $ A \leq B $

**Sample I/O**  

***Input1:***  
2 10  
***Output1:***  
2 4 6 8 10  

***Input2:***  
12 19  
***Output2:***  
12 14 16 18  

***Input3:***  
101 201  
***Output3:***  
102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200  

***Input4:***  
2795 2840  
***Output4:***  
2796 2798 2800 2802 2804 2806 2808 2810 2812 2814 2816 2818 2820 2822 2824 2826 2828 2830 2832 2834 2836 2838 2840

In [18]:
# Write your code here using while loop

In [17]:
# Write your code here using for loop

## Exercise 2

**Given two numbers A and B. Print all the ODD NUMBERS from B to A (Inclusive)**

- It's guaranteed that $ B \geq A $

**Sample I/O**  

***Input1:***  
2 10  
***Output1:***  
9 7 5 3  

***Input2:***  
12 19  
***Output2:***  
19 17 15 13  

***Input3:***  
101 201  
***Output3:***  
201 199 197 195 193 191 189 187 185 183 181 179 177 175 173 171 169 167 165 163 161 159 157 155 153 151 149 147 145 143 141 139 137 135 133 131 129 127 125 123 121 119 117 115 113 111 109 107 105 103 101  

***Input4:***  
2795 2840  
***Output4:***  
2839 2837 2835 2833 2831 2829 2827 2825 2823 2821 2819 2817 2815 2813 2811 2809 2807 2805 2803 2801 2799 2797 2795

In [ ]:
# Write your code here using while loop

In [ ]:
# Write your code here using for loop

## Definition of factor

A number F can be called as factor of another number N, if the division operation on N with F yields 0 (Zero) as remainder.

In other words **F** can be called as a factor (divisor) of **N**, if **N % F is equal to 0**.

**Examples:**
- 3 is a factor of 12, because 12 % 3 is 0
- 17 is a factor of 68, becuase 68 % 17 is 0
- 5 is **NOT** a factor of 12, as 12 % 5 is not equal to 0

## Exercise 3

**Given a number N. Print all the factors (divisors) of that number**.


**Sample I/O**  

***Input1:***  
5<br>
***Output1:***  
1 5  

***Input2:***  
10  
***Output2:***  
1 2 5 10  

***Input3:***  
20  
***Output3:***  
1 2 4 5 10 20  

***Input4:***  
120  
***Output4:***  
1 2 3 4 5 6 8 10 12 15 20 24 30 40 60 120

In [ ]:
# Write your code here using while loop

In [ ]:
# Write your code here using for loop

## Exercise 4

**Given a number N. Find out how many total factors (divisors) does that number has.**


**Sample I/O**  

***Input1:***  
5<br>
***Output1:***  
2  

***Input2:***  
10  
***Output2:***  
4  

***Input3:***  
20  
***Output3:***  
6  

***Input4:***  
120  
***Output4:***  
16

In [ ]:
# Write your code here using while loop

In [ ]:
# Write your code here using for loop

## Exercise 5

**Given a number N. Find out if it's PRIME NUMBER OR NOT.**

**PRIME NUMBER:**  

A number P is called as PRIME NUMBER, if it's only divisible by 1 and itself.  

In other words P is called a PRIME NUMBER, if it's factors are 1 & P.  

**Example:**  
3 is PRIME becuase it's only factors are 1 and 3  
5 is PRIME becuase it's only factors are 1 and 5  
7 is PRIME becuase it's only factors are 1 and 7  

On the other hand  
4 is NOT PRIME, as it's having 2 as a factor, along with 1 and 4  
9 is NOT PRIME, as it's having 3 as a factor, along with 1 and 9  
8 is NOT PRIME, as it's having 2, 4 as factors, along with 1 and 8.  

*You can say that a number P is a prime, if it's having ONLY TWO (2) FACTORS (DIVISORS)*

**Sample I/O**  

***Input1:***  
5<br>
***Output1:***  
PRIME  

***Input2:***  
10  
***Output2:***  
NOT PRIME  

***Input3:***  
23  
***Output3:***  
PRIME  

***Input4:***  
121  
***Output4:***  
NOT PRIME

In [ ]:
# Write your code here using while loop

In [ ]:
# Write your code here using for loop

## Exercise 6

**Given a number N. Find out the sum all the factors of that number.**

**Example:**  
Let's suppose N = 8,  
Factors (divisors) of 8 are  
1 2 4 8  
sum of them is 1 + 2 + 4 + 8 --> 15  


**Sample I/O**  

***Input1:***  
8<br>
***Output1:***  
15  

***Input2:***  
10  
***Output2:***  
18  

***Input3:***  
20  
***Output3:***  
42  

***Input4:***  
120  
***Output4:***  
360

In [ ]:
# Write your code here using while loop

In [ ]:
# Write your code here using for loop

## Exercise 7

**Given three numbers A, B and X.  Print all the numbers A to B (Inclusive) that are divisible by X. Also find out the sum of those numbers.**

**Example:**

If A = 22, B = 47 and X = 7, then   
the numbers from 22 to 47 that are divisible by 7 are **28 35 42** and their sum **28 + 35 + 42 = 105**


- It's guaranteed that A < B

**Sample I/O**  

***Input1:***  
22 47 7  
***Output1:***  
28 35 42  
Sum is 105  

***Input2:***  
100 200 10  
***Output2:***  
100 110 120 130 140 150 160 170 180 190 200  
Sum is 1650  

***Input3:***  
974 1085 18  
***Output3:***  
990 1008 1026 1044 1062 1080  
Sum is 6210  

***Input4:***  
1 10 1  
***Output4:***  
1 2 3 4 5 6 7 8 9 10  
Sum is 55

In [ ]:
# Write your code here using while loop

In [ ]:
# Write your code here using for loop

## Exercise 8

**Given four Integers A, B, X and Y.**

**Find out the SUM OF ALL NUMBERS FROM A TO B (INCLUSIVE) that are DIVISIBLE BY X, BUT NOT BY Y.**


***Example:***

If ***A = 10, B = 20, X = 3, Y = 5***, then  
the numbers from **10 to 20 that are DIVISIBLE BY 3 BUT NOT BY 5** are **12 18** and **12 + 18** is 30.  

- It's guaranteed that A < B.
 
**Sample I/O**  

***Input1:***  
10 20 3 5<br>
***Output1:***  
30  

***Input2:***  
50 100 6 8  
***Output2:***  
432  

***Input3:***  
1 10 3 1  
***Output3:***  
0

***Input4:***  
1 10 3 2  
***Output4:***  
12

In [1]:
# Write your code here using while loop

In [ ]:
# Write your code here using for loop